<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>updateInfo</key>
	<array>
		<string>user</string>
		<string>nick</string>
		<string>real</string>
		<string>sign</string>
		<string>idcard</string>
		<string>sex</string>
		<string>image</string>
		<string>JSESSIONID</string>
	</array>
	<key>getBloodData.do</key>
	<array>
		<string>imei</string>
		<string>pagenum</string>
		<string>pagesize</string>
	</array>
	<key>updateStepSetting.do</key>
	<array>
		<string>imei</string>
		<string>stepmax</string>
		<string>stepalarm</string>
		<string>JSESSIONID</string>
	</array>
	<key>updatePushSetting.do</key>
	<array>
		<string>imei</string>
		<string>pushtime</string>
		<string>ispush</string>
		<string>JSESSIONID</string>
	</array>
	<key>addFeedBack.do</key>
	<array>
		<string>user</string>
		<string>content</string>
		<string>contacts</string>
		<string>JSESSIONID</string>
	</array>
	<key>updateLocSetting.do</key>
	<array>
		<string>imei</string>
		<string>gpsalarm</string>
		<string>JSESSIONID</string>
	</array>
	<key>updateRangeSetting.do</key>
	<array>
		<string>imei</string>
		<string>lat</string>
		<string>lon</string>
		<string>radius</string>
		<string>JSESSIONID</string>
	</array>
	<key>updateSysSetting.do</key>
	<array>
		<string>user</string>
		<string>pushtime</string>
		<string>JSESSIONID</string>
	</array>
	<key>updateCollectSetting.do</key>
	<array>
		<string>imei</string>
		<string>type</string>
		<string>interval</string>
		<string>sid</string>
		<string>JSESSIONID</string>
	</array>
	<key>updateSosSetting.do</key>
	<array>
		<string>imei</string>
		<string>sos</string>
		<string>sid</string>
		<string>JSESSIONID</string>
	</array>
	<key>updateContactSetting.do</key>
	<array>
		<string>imei</string>
		<string>contacts</string>
		<string>sid</string>
		<string>JSESSIONID</string>
	</array>
	<key>getPulseData.do</key>
	<array>
		<string>imei</string>
		<string>starttime</string>
		<string>endtime</string>
		<string>JSESSIONID</string>
	</array>
	<key>getLocData.do</key>
	<array>
		<string>imei</string>
		<string>starttime</string>
		<string>endtime</string>
		<string>JSESSIONID</string>
	</array>
	<key>getStepData.do</key>
	<array>
		<string>imei</string>
		<string>starttime</string>
		<string>endtime</string>
		<string>JSESSIONID</string>
	</array>
	<key>sendPulseOrder.do</key>
	<array>
		<string>sid</string>
		<string>imei</string>
		<string>JSESSIONID</string>
	</array>
	<key>sendLocOrder.do</key>
	<array>
		<string>sid</string>
		<string>imei</string>
		<string>JSESSIONID</string>
	</array>
	<key>login.do</key>
	<array>
		<string>user</string>
		<string>pwd</string>
		<string>regid</string>
		<string>apikey</string>
		<string>secretkey</string>
		<string>devicetype</string>
	</array>
	<key>register.do</key>
	<array>
		<string>user</string>
		<string>pwd</string>
		<string>sex</string>
		<string>nick</string>
		<string>real</string>
		<string>sign</string>
		<string>idcard</string>
		<string>image</string>
	</array>
	<key>getUserInfo.do</key>
	<array>
		<string>user</string>
		<string>JSESSIONID</string>
	</array>
	<key>updatePwd.do</key>
	<array>
		<string>user</string>
		<string>pwd</string>
		<string>JSESSIONID</string>
	</array>
	<key>updateInfo.do</key>
	<array>
		<string>user</string>
		<string>nick</string>
		<string>real</string>
		<string>sign</string>
		<string>idcard</string>
		<string>sex</string>
		<string>image</string>
		<string>JSESSIONID</string>
	</array>
	<key>getAllRelativeVt.do</key>
	<array>
		<string>user</string>
		<string>JSESSIONID</string>
	</array>
	<key>bind.do</key>
	<array>
		<string>user</string>
		<string>sim</string>
		<string>imei</string>
		<string>name</string>
		<string>relative</string>
		<string>sex</string>
		<string>image</string>
		<string>phone</string>
		<string>birthday</string>
		<string>illnessRecord</string>
		<string>dailyMedicine</string>
		<string>allergyRecord</string>
		<string>height</string>
		<string>weight</string>
		<string>mcard</string>
		<string>JSESSIONID</string>
	</array>
	<key>updateBind.do</key>
	<array>
		<string>user</string>
		<string>sim</string>
		<string>imei</string>
		<string>name</string>
		<string>relative</string>
		<string>sex</string>
		<string>image</string>
		<string>phone</string>
		<string>birthday</string>
		<string>illnessRecord</string>
		<string>dailyMedicine</string>
		<string>allergyRecord</string>
		<string>height</string>
		<string>weight</string>
		<string>mcard</string>
		<string>JSESSIONID</string>
	</array>
	<key>unbind.do</key>
	<array>
		<string>user</string>
		<string>imei</string>
		<string>JSESSIONID</string>
	</array>
	<key>getAllSetting.do</key>
	<array>
		<string>imei</string>
		<string>user</string>
	</array>
	<key>updatePulseSetting.do</key>
	<array>
		<string>imei</string>
		<string>pulsemax</string>
		<string>pulsemin</string>
		<string>pulsealarm</string>
		<string>JSESSIONID</string>
	</array>
	<key>updateBloodSetting.do</key>
	<array>
		<string>imei</string>
		<string>dbpmin</string>
		<string>dbpmax</string>
		<string>sbpmin</string>
		<string>sbpmax</string>
		<string>bloodalarm</string>
		<string>JSESSIONID</string>
	</array>
	<key>sendMessage.do</key>
	<array>
		<string>imei</string>
		<string>type</string>
		<string>sid</string>
		<string>msg</string>
		<string>JSESSIONID</string>
	</array>
</dict>
</plist>
